RewriteEngine On

# 1. Permitir que se lean archivos y carpetas reales
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_Cond} !-d

# 2. Reenviar todo lo demás al index.php de la API
RewriteRule ^ index.php [QSA,L]

# 3. Desactivar la herencia de WordPress para esta carpeta
ErrorDocument 404 default